.background{
background-image: url(./assets/images/background-brick-wall-bricks-brickwork-259915.jpg/wall1.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}
body>table>tr>td>a{
    font-size: 20px;
    text-decoration: none;
    padding-right: 25px;
}
body>table>tr>td>a:hover{
    color:white;
}