.background{
background-image: url(./assets/images/background-brick-wall-bricks-brickwork-259915.jpg/wall1.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

body{
    font-size: 1rem;
    font-style: normal;
    color:black;
    
}
nav{
    font-size: 2rem;
    padding-top: 1%;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}
    
.prof{
    
    font-family:Sofia-pro;
    font-weight: 600;
    font-style: normal;
    padding: 0 1%;
    margin: 0;
    color:rgb(68, 46, 46);
    font-size: 12px;
    letter-spacing: .24em;
    line-height: 1em;
    text-transform: uppercase;

}

.navigation{
    display: flex;
    flex-flow: row wrap;
    height: 30px;
    font-size: 26px;  
    
}
a:hover{
    text-decoration: none;
    color:black;
}
.navigation>div>a{
    font-size: 20px;
    text-decoration: none;
    padding-right: 25px;
}
.navigation>div>a:hover{
    color:white;
}
.right-item{
    margin-left: 50%; 
    letter-spacing: .1em;
}
.nav-link{
    color: black;
}
.name{
    font-size: 3.75rem;
    overflow: auto;
    white-space: nowrap;
    padding: 0%;
    margin-bottom: -15px;
}
.items{
    padding-right: 4%;
    font-size: 1.5rem;
}
.icons{
    font-size: 1.5rem;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    text-align: center;
}
.contact{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 3.2rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
}
.c-links{
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.c-link{
    margin-right: 1rem;
}
.blogs{
    padding-top: 15rem;
}
.card{
    border: 0px;
    border-radius: 0px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.card-img-top{
    border-radius: 0px;
}
.card-subtitle{
    font-family: sofia-pro;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.card-title{
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    letter-spacing: .03em;
}

.card-text{
    font-family: Segoe UI;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .01em;
}
